@import url('https://fonts.googleapis.com/css2?family=VT323&family=Roboto+Mono:wght@400;700&family=Orbitron:wght@400;700&display=swap');


body {
  background-color: #000000;
  color: #AFEEEE;
  font-family: 'Roboto Mono', monospace;
}

h1, h2, h3 {
  font-family: 'Orbitron', sans-serif; 
  color: #F7931A
}

code, pre {
  font-family: 'VT323', monospace;
}